.dud{
  background-image: url(../img/backgrounds/r.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.center{
  text-align: center;
  top: 50%;
  transition-property: all;
  display: inline-block;
}
.ban{
  display: inline-block;

}
.ban img{
  width:8%;
  display: inline-block;
}
.heading{
  position: absolute;
  top:50%;
  display:inline-block;
}


.dun{
background-image: url(../img/services_icons/1.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 75vh;
color: white;
}
.lam img{
    width: 100%;
    padding:20px 0;
    transition: 1s;
    cursor:pointer;
    background-color: grey;
}
.lam img:hover{
  transform: scale(1.1);
}
.ram ul li{
  display: inline-block;
  width: 5%;
  text-align: center;

}
.form-control{
  width: 600px;
  background: transparent;
  border: none;
  border-bottom: none;
  color:#28a745;;
  font-size: 18px;
  margin-bottom: 16;
  display: block;
}
input{
  height: 50px;
}
form.submit{
  border-color: transparent;
  font-size:20px;
  font-weight: bold;
  letter-spacing:2px;
  height:50px;
  margin-top: 20px;
}
form.submit:hover{

}
.card{
  text-align: center;

}
.contact-form{
  background-image: url(../img/backgrounds/h.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
